.about-container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 6em 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title{
  margin: 0;
  font-size: var(--font-xl, 1.725rem);
}
.vision, .mision, .team{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
}
.vision__title, .mision__title, .team__title{
  font-size: var(--font-lg, 1.725rem);
  margin: 1rem 0;
}
.vision__description , .mision__description{
  text-align: center;
}
.about-magic{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  background: transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 35%;
  z-index: -1;
  overflow-x: hidden;
}
.about-magic > span{
  z-index: 1;
  animation: basurita 4s ease-in-out infinite;
}
@keyframes basurita {
  0%,100%{
    transform: translateY(2px) rotateZ(2deg);
  }
  50%{
    transform: translateY(-2px) rotateZ(-2deg);
  }
}
.about-magic > span:nth-child(1){
  width: 2.5rem;
  height: 2.5rem;
  background: no-repeat center/100% url(../../assets/Images/tenedor.png);
  position: absolute;
  top: 0;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.about-magic > span:nth-child(2){
  width: 2.5rem;
  height: 2.5rem;
  background: no-repeat center/100% url(../../assets/Images/cuchara.png);
  position: absolute;
  right: 0;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}
.about-magic > span:nth-child(3){
  width: 5rem;
  height: 5rem;
  background: no-repeat center/100% url(../../assets/Images/bolsa.png);
  position: absolute;
  top: 0;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
.about-magic > span:nth-child(4){
  width: 5rem;
  height: 5rem;
  background: no-repeat center/100% url(../../assets/Images/salvavidas.png);
  position: absolute;
  bottom: 0;
  grid-row: 4 / 5;
  grid-column: 4 / 5;
}
.about-magic > span:nth-child(5){
  width: 4rem;
  height: 4rem;
  background: no-repeat center/100% url(../../assets/Images/tortuga.png);
  position: absolute;
  top: 30%;
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}
.team{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}


