.about-container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 6em 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about__title{
  margin: 0;
  font-size: var(--font-xl, 1.725rem);
}
.vision, .mision, .team{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1em;
}
.vision__title, .mision__title, .team__title{
  font-size: var(--font-lg, 1.725rem);
  margin: 1rem 0;
}
.vision__description , .mision__description{
  text-align: center;
}
.about-magic{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  background: transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 35%;
  z-index: -1;
  overflow-x: hidden;
}
.about-magic > span{
  z-index: 1;
  animation: basurita 4s ease-in-out infinite;
}
@keyframes basurita {
  0%,100%{
    transform: translateY(2px) rotateZ(2deg);
  }
  50%{
    transform: translateY(-2px) rotateZ(-2deg);
  }
}

.team{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.mision, .vision{
  background-color: var(--clr-deep-blue);
  border-radius: 25px;
  position: relative;
  z-index: -1;
}
.mision::before, .mision::after, .vision::before, .vision::after{
  content: '';
  position: absolute;
  width: 1.725rem;
  height: 1.725rem;
  z-index: 1;
  top: 15%;
  animation: basurita 3s ease-in-out infinite;
}
.mision::before, .vision::before{
  left: 6%;
}
.mision::after, .vision::after{
  right: 6%;
}
.mision::before{
  background: no-repeat center/100% url('../../assets/Images/tenedor.png');
}
.mision::after{
  background: no-repeat center/100% url('../../assets/Images/pez.png');

}
.vision::before{
  background: no-repeat center/100% url('../../assets/Images/pez2rev.png');
}
.vision::after{
  background: no-repeat center/100% url('../../assets/Images/cuchara.png');

}
@media (min-width: 425px) { 
  .mision::before, .mision::after, .vision::before, .vision::after{
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (min-width: 425px) { 
  .mision::before, .mision::after, .vision::before, .vision::after{
    width: 4.5rem;
    height: 4.5rem;
  }
  .mision::before, .vision::before{
    left: 10%;
  }
  .mision::after, .vision::after{
    right: 10%;
  }
}