.bubble{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba(255 255 255 /.25);

  position: relative;
  animation: boing 8s ease-in-out infinite;
} 
@keyframes boing {
  0%,100%{
    transform: translateY(-1px);
  }
  50%{
    transform: translateY(1px);
  }
}
.bubble::before{
  content: '';
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  top: 20%;
  right: 65%;
  border-radius: 50%;
  background: rgba(255 255 255 /.85);
  filter: blur(2px);
  z-index: 10;
}
.bubble::after{
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 40%;
  right: 55%;
  border-radius: 50%;
  background: rgba(255 255 255 /.85);
  filter: blur(2px);
  z-index: 10;
}
.bubble > img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  opacity: 1;
  filter: blur(1px);
}
.bubble span {
  position: absolute;
  border-radius: 50%;
  opacity: .5;
}
.bubble span {
  inset: 10px;
  border-left: 10px solid #0fb4ff;
  filter: blur(8px);
}
.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 10px solid #ff4484;
  filter: blur(8px);
}
.bubble span:nth-child(3) {
  inset: 20px;
  border-top: 10px solid #ffeb3b;
  filter: blur(8px);
}
.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 10px solid #ff4484;
  filter: blur(12px);
}
.bubble span:nth-child(4) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}