
.header-navbar {
    background-color: #032D59;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7.5rem;
    padding: 0.3rem 10%;
}

.header-navbar .logoNav {
    cursor: pointer;
    margin-right: auto;
}

.header-navbar .logoNav img {
    height: 5.6rem;
    width: auto;
    transition: all 0.3s;
}

.header-navbar .logoNav img:hover {
    transform: scale(1.2);
}

.header-navbar .listaNav {
    list-style: none;
}

.header-navbar .listaNav li {
    display: inline-block;
    padding: 0 1.25rem;
}

.header-navbar .listaNav li:hover {
    transform: scale(1.1);
}

.header-navbar .listaNav a {
    font-size: 700;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-navbar .listaNav li a:hover {
    color: #FF8C00;
}

.header-navbar .btn-registro-nav button {
    margin-left: 1.25rem;
    font-weight: 600;
    color: white;
    padding: 0.5rem 1.5rem;
    background-color: #FF8C00;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
} 

.header-navbar .btn-registro-nav button:hover { 
    transform: scale(1.1);
}

.header-navbar .btn-sesion-nav button {
    margin-left: 1.25rem;
    font-weight: 600;
    color: black;
    padding: 0.5rem 1.5rem;
    background-color: white;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header-navbar .btn-sesion-nav button:hover { 
    transform: scale(1.1);
}