.boyacraft{
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow: hidden;
  inset: 0;
}
.pointer{
  color: var(--clr-orange);
  text-shadow: 0 0 10px var(--clr-deep-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  opacity: .5;
}
.texture-selector{
  position: absolute;
  padding: 1rem;
  border: 5px solid var(--clr-deep-blue);
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}
.texture-selector img {
  width: 80px;
  z-index: 100;
  image-rendering: pixelated;
  border: 5px solid var(--clr-deep-blue);
}
.texture-selector img.selected{
  border-color: var(--clr-orange);
}
.chatai-container{
  position: absolute;
  bottom: 12rem;
  right: 1.5rem;
  z-index: 3;
}
.chatai-form button{
  padding: 0em .65em;
}