.fondoCuenta{
padding: 50px 260px;
}

.containerCuenta{
display: flex;
gap: 30px;
}

.miPerfil{
font-size: 35px;
}

.containerPerfil{
display: block;
background-color: #005cb2;
border-radius: 50px;
padding: 40px;
}

.circuloPerfil{
display: flex;
width: 250px;
height: 250px;
border-radius: 100%;
background-color: #80BACC;
align-items: center;
justify-content: center;
}

.estrella{
width: 200px;
}

.circulosColoresIcono{
display: flex;
flex-direction: row;
gap: 8px;
}

.circuloColor1{
width: 20px;
height: 20px;
border-radius: 100%;
background-color: #80BACC;
cursor: pointer;
}

.circuloColor2{
width: 20px;
height: 20px;
border-radius: 100%;
background-color: #78C36C;
cursor: pointer;
}

.circuloColor3{
width: 20px;
height: 20px;
border-radius: 100%;
background-color: #CA80CC;
cursor: pointer;
}

.circuloColor4{
width: 20px;
height: 20px;
border-radius: 100%;
background-color: #B23737;
cursor: pointer;
}

.circuloColor5{
width: 20px;
height: 20px;
border-radius: 100%;
background-color: #FF8C00;
cursor: pointer;
}

.circuloColor6{
width: 20px;
height: 20px;
border-radius: 100%;
background-color: #E3CE12;
cursor: pointer;
}

.opcionesUsuario{
font-size: 18px;
color: #d9d9d9;
text-align: center;
}

.nombreUsuario{
font-size: 25px;
text-align: center;
line-height: 25px;
padding-top: 20px;
}

.emailUsuario{
font-size: 20px;
text-align: center;
color: #80BACC;
line-height: 15px;
}

/* inicio seccion Puntos e Insignias */
.containerPuntos{
background-color: #005cb2;
border-radius: 50px;
padding: 40px;
align-items: center;
}

.img-puntaje{
width: 60px;
}

.puntajeAcumulado{
font-size: 22px;
line-height: 30px;
}

.insigniasPerfil{
display: flex;
flex-direction: row;
}

.contenedor-insignia{
display: flex;
flex-direction: column;
align-items: center;
}

.misInsignias{
font-size: 22px;
line-height: 30px;
padding-top: 50px;
}

.cantidadPuntajeAcumulado, .tituloInsignia{
font-size: 20px;
line-height: 15px;
color: #03E2CC;
}

.img-insignia{
width: 115px;
height: 115px;
}

.tituloInsignia{
font-size: 20px;
color: #03E2CC;
line-height: 25px;
}

.btn-volver{
background-color: #005cb2;
color: white;
font-family: 'NATS';
width: 220px;
font-size: 20px;
text-align: center;
border: none;
border-radius: 50px;
cursor: pointer;
margin: 30px;
}