.containers-registro {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center; 
    background: no-repeat center url("../../assets/Images/crear-cuenta.png");
    background-size: cover;
}

.formulario-registro {
    width: 35.25rem;
    height: 46.313rem;
    background-color: rgba(217, 217, 217, 0.15);
    border-radius: 3rem;
    margin-bottom: 4rem;    
    
}

.formulario-registro h1 {
    text-align: center;
    padding: 0 0 1.5rem 0;
    margin-top: 2.5rem;
    color: white;
    font-size: var(--font-lg);
}

.formulario-registro label {
    color: white;
    font-size: var(--font-md);
    margin: 0.625rem 0.625rem 0.625rem 0.625rem;
}

.usuario-registro input {
    padding: 10px;
    background-color: var(--clr-blue, #032d59);
    border: 1px solid white;
    font-size: 15px;
    color: #f4f6f9;
    border-radius: 25px;
}

form .usuario-registro {
    display: flex;
    flex-direction: column;
}

.formulario-registro form {
    padding: 0 5rem;
    box-sizing: border-boxs;
}

.btn-registro {
    font-weight: 600;
    font-size: var(--font-md);
    color: white;
    padding: 0.5em 1.5em;
    background-color: var(--clr-orange, #ff8c00);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 2.5rem;
    width: 15.625rem;
}

.btn-container-registro {
    display: flex;
    justify-content: center;
}