* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #032d59;
}

.container {
  display: flex;
  background-color: #032d59;
  padding: none;
  flex-direction: column;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}
.InicioQuiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  text-align: center;
  padding: auto;
  border-radius: 3.75rem;
  justify-content: center;
  align-items: center;
}
.btnplay,
.btnwho {
  margin: 0.3125rem;
  border: none;
  cursor: pointer;
}

.insignia img,
.ranking img {
  margin: 1.25rem;
}

.btnplay {
  display: flex;
  background-color: #ff8c00;
  color: white;
  font-size: 100px;
  width: 36.625rem;
  height: 8.8125rem;
  text-align: center;
  padding: auto;
  border-radius: 2.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease;
}

.btnplay:after {
  content: "";
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  width: 100%;
  height: 300%;
  top: -100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.btnplay:active {
  transform: translateY(0.25rem);
  transform: scale(1.1);
}

.btnwho {
  display: flex;
  color: white;
  background-color: rgba(0, 78, 151, 0.9);
  font-size: 30px;
  width: 36.625rem;
  height: 4.25rem;
  text-align: center;
  padding: auto;
  border-radius: 3.75rem;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.btnwho:active {
  transform: translateY(0.25rem);
  transform: scale(1.1);
}

.rank {
  color: white;
  display: flex;
  background: hsl(85, 85, 85);
  flex-direction: column;
  justify-content: right;
  align-items: end;
  text-align: center;
  gap: 1rem;
  padding-right: 5rem;
}

.ranking img {
  width: 4.6875rem;
  height: 4.6875rem;
}
.insignia img {
  width: 4.6875rem;
  height: 4.6875rem;
}

.ranking-insignia {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 78, 151, 0.9);
  padding: 0.25em 0.75em;
  border-radius: 3.125rem;
  border: none;
  min-width: 17rem;
  padding-left: 1em;
  font-size: 23px;
}

.ranking-insigniaa {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 78, 151, 0.9);
  padding: 0.25em 0.75em;
  border-radius: 3.125rem;
  border: none;
  min-width: 17rem;
  padding-left: 1em;
  font-size: 23px;
  line-height: 22px;
  text-align: left;
  cursor: pointer;
}

.datocurioso-contenedor {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.datocurioso {
  background-color: #004a91;
  line-height: 1;
  width: 30rem;
  padding: 0.75em 1.75em;
  border-radius: 3.75rem;
  text-align: center;
  align-self: flex-end;
  position: relative;
}

.datocurioso::before {
  content: "";
  width: 23.75rem;
  height: 23.75rem;
  position: absolute;
  background: no-repeat center/100% url(../../assets/Images/tortuga.png);
  left: -90%;
  top: 65%;
  animation: tortuga 3s ease-in-out infinite;
}

.datocurioso::after {
  content: "";
  width: 2.5rem;
  height: 3.125rem;
  position: absolute;
  left: -0.625rem;
  bottom: 0.4375rem;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #004a91;
}

@keyframes tortuga {
  50% {
    transform: rotateZ(-4deg);
  }
}

.datocurioso-contenedor > img {
  width: 60%;
  max-width: 50rem;
}
@media screen and (max-width: 1024px) {
  .InicioQuiz {
    margin-top: 80px;
  }
  .container {
    margin-left: 20px;
  }
  .rank {
    margin-top: 50px;
  }
  .btnwho {
    width: 15.625rem;
    height: 3.8125rem;
    font-size: 30px;
  }
  .btnplay {
    width: 18.625rem;
    height: 4.8125rem;
    font-size: 30px;
  }
  .fondo-olas {
    display: none;
  }

  .foto-ola {
    display: none;
  }
  .datocurioso {
    display: none;
  }
}

.pop-over {
  display: none;
  position: absolute;
  border-radius: 3rem;
  background-color: rgba(0, 78, 151, 0.9);
  padding: 10px;
  right: 3%;
  transform: translateX(-100%);
  line-height: 1.2;
}

.pop-over.visible {
  display: block;
}

.ranking-title {
  font-size: 25px;
}
