* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #032d59;
  color: var(--clr-white, #ffffff);
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 0.625rem 1.25rem;
  display: block;
  margin: 6.25rem auto 0;
  font-size: 1.125rem;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.close-modal {
  border: none;
  background: none;
}

.x {
  width: 1.25rem;
  height: 1.25rem;
}

.close-modal {
  margin-right: 0.625rem;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: rgba(217, 217, 217, 0.3);
  padding: 0.875rem 1.75rem;
  border-radius: 1.5rem;
  max-width: 37.5rem;
  min-width: 18.75rem;
  z-index: 999;
}
