.footer-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 22.4rem;
  position: relative;
}
@media (min-width: 375px) {
  .footer-grid{
    grid-template-rows: 10rem 22.4rem;
  }
}
@media (min-width: 768px) { 
  .footer-grid{
    grid-template-rows: repeat(2, 1fr);
    gap: 0rem;
  }
}
.footer-grid::after{
  width: 100%;
  height: calc(15vw);
  content: '';
  position: absolute;
  bottom: 0;
  background: no-repeat center/100% url(../../assets/Images/footer.png);
}
.footer__logo{
  display: none;
}
@media (min-width: 768px) { 
  .footer__logo{
    display: flex;
    width: clamp(5rem,8vw,10rem);
    align-self: center;
    justify-self: center;
    z-index: 1;
  }
}
.footer-container{
  background: var(--clr-blue);
  color: var(--clr-white, #FFFFFF);
}
.footer__social__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  z-index: 1;
}
@media (min-width: 768px) { 
  .footer__social__container{
    gap: .7rem;
  }
}

.footer__social{
  display:flex;
  min-width: 275px;
  max-width: 340px;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
@media (min-width: 768px) { 
  .footer__social{
    justify-content: center;
    gap: 1rem;
  }
  .icon__social{
    width: 3.525vw;
  }
}
.footer__social a{
  z-index: 1;
  cursor: pointer;
}
.footer__social a:hover, .footer__adress__a > img:hover{
  filter: drop-shadow(0px 0px 5px white);
}
.footer__info{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap:3rem;
  overflow: hidden;
}
@media (min-width: 768px) { 
  .footer__info{
    grid-template-rows: repeat(2, .7fr);
    gap: 0rem;
  }
  .footer__contact__container{
    display: none;
  }
}
@media (min-width: 1024px) { 
  .footer__info{
    gap: .725rem;
  }
}

.footer__social::before{
  content: '';
  width: 18rem;
  height: 18rem;
  background: no-repeat center/100% url(../../assets/Images/halo.png);
  position: absolute;
  top: -150%;
  right: -4%;
  z-index: 0;
  animation: 20s linear infinite halo-footer;
  z-index: 0;
}
@media (min-width: 768px) { 
  .footer__social::before{
    display: none;
  }
}
@keyframes halo-footer {
  100%{
    transform: rotatez(360deg);
  }
}
@media (min-width: 360px) {
  .footer__social::before{
    top: -150%;
  }
}
@media (min-width: 400px) {
  .footer__social::before{
    width: 20rem;
    height: 20rem;
    left: -6%;
  }
}
.social__grid{
  grid-row: 1/2;
}
.footer__contact__container{
  grid-row: 2/ 3;
}
.footer__copy{
  grid-row: 3 / 4;
  align-self: self-start;
}
@media (min-width: 768px) { 
  .footer__copy{
    grid-row: 2 / 3;
    align-self: self-end;
  }
}
.footer__title{
  font-size: var(--font-xxl, 4rem);
  font-weight: var(--font-semibold, 700);
}
@media (min-width: 768px) { 
  .footer__title{
    display: none;
  }
}
.footer__title__o{
  color: var(--clr-orange, #FF8C00);
}
.footer__info__title{
  font-size: var(--font-lg, 1.725rem);
  font-weight: var(--font-semibold, 700);
}
@media (min-width: 768px) { 
  .footer__info__title{
    font-size: var(--font-normal, 1rem);
  }
}
@media (min-width: 1024px) { 
  .footer__info__title{
    font-size: var(--font-lg, 1.325rem);
  }
}
.footer__adress__a{
  all: unset;
  cursor: pointer;
  font-size: var(--font-md, 1.325rem);
  font-weight: var(--font-w-md, 500);
  
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer__adress__a > img{
  display: inline-block;
}
.footer__copy{
  font-size: var(--font-normal, 1.325rem);
  font-weight: lighter;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) { 
  .footer__copy{
    font-size: var(--font-sm, .75rem);
  }
  .footer__copy__span{
    color: var(--clr-orange,#FF8C00);
  }
}
@media (min-width: 1024px) { 
  .footer__copy{
    font-size: var(--font-md, 1.325rem);
  }
}
.footer__copy::after{
  content: '';
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 25%;
  right: -10%;
  background: no-repeat center/100% url(../../assets/Images/alga1.png);
  animation: 3s ease-in-out infinite alga1;
}
.footer__copy::before{
  content: '';
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 25%;
  left: -12%;
  background: no-repeat center/100% url(../../assets/Images/alga2rev.png); 
  animation: 3s ease-in-out infinite alga2;
  z-index: -1;
}
@media (min-width: 768px) { 
  .footer__copy::after{
    top: -180%;
    right: 0;
  }
  .footer__copy::before{
    top: -280%;
    left: 0;
  }
}
@media (min-width: 1024px) { 
  .footer__copy::before{
    top: -175%;
  }
}
@keyframes alga1 {
  50%{
    transform: rotatez(2deg);
  }
}
@keyframes alga2 {
  50%{
    transform: rotatez(-2deg);
  }
}