* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-blue, #032d59);
}

.title-contact {
  font-family: "NATS";
  font-size: 50px;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: url("../../assets/Images/fondo-contacto.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-y: bottom;
}

.halo-image {
  position: absolute;
  top: 3%;
  left: 10%;
  width: 750px;
}

.form-text {
  width: 25%;
  padding-left: 200px;
}

.form-text {
  width: 100%;
  margin: 0 0.625rem 0 0.625rem;
}

.white-text {
  color: #ffffff;
  font-family: "Roboto regular", sans-serif;
}

.orange-text {
  color: var(--clr-orange, #ff8c00);
  font-family: "Roboto regular", sans-serif;
}

.bag-image {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 200px;
  animation: moveLeftRight 6s ease-in-out infinite;
}

.form-content {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  padding: 55px;
  padding-right: 600px;
}

.form-contacto {
  display: flex;
  flex-direction: column;
}

.form-label{
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 0.625rem;
}

.form-input,.form-textarea {
  padding: 17px 14px;
  background-color: var(--clr-blue, #032d59);
  border: 1px solid white;
  font-size: 15px;
  color: #f4f6f9;
  margin-bottom: 20px;
  border-radius: 25px;
}

.btn {
  width: 140px;
  height: 30px;
  background-color: var(--clr-orange, #ff8c00);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}

.btn:hover {
  background-color: #f0a951;
}

.cuchara-image,
.tenedor-image,
.fondocontacto-mobile{
  display: none;
}

@media (max-width: 844px) {
  .form-container {
    flex-direction: column;
  }

  .form-text {
    width: 90%;
    padding-left: 5%;
    text-align: center;
  }

  .title-contact {
    font-size: 35px;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: center;
    font-family: "Roboto light", sans-serif;
  }

  .halo-image {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 500px;
  }

  .bag-image {
    display: none;
  }

  .form-container {
    background-image: none;
  }

  .form-content {
    width: 100%;
    padding-left: 25px;
  }

  .cuchara-image {
    display: block;
    position: absolute;
    top: 80%;
    right: 5%;
    width: 50px;
    animation: moveLeftRight 6s ease-in-out infinite;
  }

  .tenedor-image {
    display: block;
    position: absolute;
    transform: scaleX(-1);
    transform-origin: center;
    top: 30%;
    left: 0.1%;
    width: 50px;
    animation: moveRightLeft 6s ease-in-out infinite;
  }

  .fondocontacto-mobile{
    display: block;
  }
}

@keyframes moveRightLeft {
  0% {
    transform: translateX(0) scaleX(-1);
  }
  50% {
    transform: translateX(10px) scaleX(-1);
  }
  100% {
    transform: translateX(0) scaleX(-1);
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
