.pagina-inicio{
    background-color: #032D59;
    padding: 250px 235px;
    }

/*.heroe{
background: url(../../assets/Images/heroe.png) ;
}   */ 

.heroe p{
    font-family: 'Roboto Light', sans-serif;
    font-size: 25px;
    color: white;
}

.heroe h1{
    /*height: 100vh;*/
    font-size: 60px;
    font-family: 'Roboto Medium', sans-serif;
    color:white;
}

.btn-crearcuenta{
    background-color: #ff8c00;
    color: black;
    font-family: 'NATS';
    width: 220px;
    font-size: 24px;
    text-align: center;
    padding: auto;
    border: none;
    border-radius: 50px;
}

h3{
    font-family: 'NATS', sans-serif;
    font-size: 28px;
    color: white;
    line-height: 25px;
}

.propuesta-valor{
    padding-top: 25em;
}

.propuesta-valor h3{
    line-height: 2em;
    text-align: center;
    justify-content: center;
}

.propuesta-valor-cuadros{
    display: flex;
}

.propuesta-valor-cuadros div{
    width: 22em;
    padding: 2em;
    background-color: rgba(0, 78, 151, 0.9);
    margin: 0.5em auto;
    border-radius: 18%;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.propuesta-valor-cuadros p{
    display: flex;
    font-family: 'NATS', sans-serif;
    font-size: 24px;
    color: white;
    text-align: left;
    justify-content: center;
    line-height: 24px;
    margin-top: 0.5em;
}

.propuesta-valor-cuadros div img{
    margin: 0.2em auto;
}

.seccion-numeros{
    padding-top: 12em;
}

.num-usuarios{
    color: #ff8c00;
    font-size: 100px;
    text-align: right;    
}

.num-donacion-text-1{
    padding-top: 10em;
    color: white;
    font-size: 22px;
    text-align: left;
}

.num-donacion-text-2{
    color: white;
    font-size: 22px;
    text-align: left;
}

.num-donacion{
    font-size: 100px;
    color: #ff8c00;
    text-align: left;    
}

.num-usuarios-text{
    color: white;
    font-size: 22px;
    text-align: right;
}

.mockup{
    width: 550px;
    }

.mockup-container{
    padding-top: 12em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
}

