.containers {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center; 
    background: no-repeat center url("../../assets/Images/inicio-sesion.png");
    background-size: cover;
}

.formulario {
    width: 28.75rem;
    height: 35.938rem;
    background-color: rgba(217, 217, 217, 0.15);
    border-radius: 3rem;
    margin-bottom: 4rem;    
    
}

.formulario h1 {
    text-align: center;
    padding: 0 0 2rem 0;
    margin-top: 3rem;
    color: white;
    font-size: var(--font-lg);
}

.formulario p {
    margin: 0.625rem 0.625rem 2rem 0.625rem;
    font-size: 17px;
    
}

.formulario label {
    color: white;
    font-size: 17px;
    margin: 0.625rem 0.625rem 0.625rem 0.625rem;
}

.formulario .btn3 {
    font-weight: 700;
    color: white;
    padding: 0.5em 1.5em;
    background-color: var(--clr-orange, #ff8c00);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 2rem;
}

.formulario form {
    padding: 0 2.5rem;
    box-sizing: border-boxs;
}

form .usuario {
    display: flex;
    flex-direction: column;
}

.usuario input {
    padding: 10px;
    background-color: var(--clr-blue, #032d59);
    border: 1px solid white;
    font-size: 15px;
    color: #f4f6f9;
    border-radius: 25px;
}

.btn-container {
    display: flex;
    justify-content: center;
}
