* {
  margin: 0;
  padding: 0;
  font-family: "NATS", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

html {
  color-scheme: dark light;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}

:root {
  /* COLORS */
  --clr-white: #ffffff;
  --clr-orange: #ff8c00;
  --clr-blue: #032d59;
  --clr-deep-blue: #00214b;
  /* FONTS */
  --font-xxl: 4rem;
  --font-xl: 2.5rem;
  --font-lg: 1.725rem;
  --font-md: 1.2rem;
  --font-normal: 1rem;
  --font-sm: 0.75rem;
}

@font-face {
  font-family: "NATS";
  src: url("https://fonts.cdnfonts.com/css/nats");
  font-style: normal;
  font-weight: normal;
}

.text-center {
  text-align: center;
}
.align-center {
  align-items: center;
}
.icon__social {
  max-width: 2.25rem;
}
.flex-row-center {
  display: flex;
  justify-content: center;
}

