*,*::before,*::after{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  font:inherit;
}

body{
  min-height: 100vh;
}

html{
  color-scheme: dark light;
}

img, svg, picture, video{
  display: block;
  max-width: 100%;
}

:root{
  --bg-clr-deep-blue: #00214B;
}